$BG_COLOR1: #1c90bf;
$BG_COLOR2: #f8cf6a;
$BG_COLOR3: #f5f5dc;

$BG_LIGHT1: rgba(255, 255, 255, 0.2);
$BG_DARK1: rgba(0, 0, 0, 0.2);

$HR_COLOR: #536878;

$BORDER_RADIUS1: 15px;
$BORDER_RADIUS2: 10px;

$SHADOW: 2px 2px 3px $BG_DARK1;
