.weatherObserve {
    position: relative;
    font-size: 1.5rem;
    display: flex;
    align-items: start;
    gap: 6px;

    button {
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;

        i {
            font-size: 1rem;
            cursor: pointer;
        }

        &:hover,
        &:focus {
            i {
                color: $BG_COLOR2;
            }

            + .information {
                display: block;
            }
        }

        &.none {
            display: none;
        }
    }

    .information {
        display: none;
        position: absolute;
        top: calc(100% + 0.25rem);
        left: 0;
        font-size: 16px;
        padding: 0.5rem 10px;
        background-color: $BG_COLOR2;
        border-radius: $BORDER_RADIUS2;
        box-shadow: $SHADOW;
        z-index: 1;
    }
}
